body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.color {
    color: darkorange;
}

.container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 100%;
    padding-left: 5%;
    padding-right: 2%;
}

.half-width h1 {
    font-size: 40px;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Experiences-one {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 17px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px #333;
}

.experiences-tytle {
    font-size: xxx-large;
    margin-left: 14px;
}

.Experiences-one h3 {
    color: darkorange;
}

.Experiences {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#FullStackDeveloper {
    border-left: 5px solid orangered;
}

#BabyWebDeveloper {
    border-left: 5px solid blue;
}

footer {
    text-align: center;
}